body {
    font-size: 15pt;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top left, #49CBFF 50%, #14BCFF 50%);
}

button {
    position: absolute;
    top: 50px;
    left: 150px;
    background: #FFBE19;
}

#chick {
    margin-top: 200px;
    margin-left: 100px;
    position: absolute;
}

#g,
#h,
#e,
#m,
#l,
#lt,
#f,
#l>div,
#lt>div,
#s {
    position: absolute;
}

#g {
    background: #FFBE19;
    height: 110px;
    width: 140px;
    border-radius: 95% 5% 50% 50% / 46% 18% 82% 54%;
}

#h {
    height: 40px;
    width: 70px;
    background: #FFBE19;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    top: -34.5px;
    left: 64px;
    transform: rotate(-7deg);
    animation: sh 1s linear infinite alternate;
}

#f {
    height: 30px;
    width: 50px;
    border: 5px solid #FF0E00;
    border-radius: 100% 0% 39% 61% / 22% 100% 0% 78%;
    border-right: none;
    top: 40px;
    left: 30px;
    transform: rotate(-25deg);
    animation: s 1s infinite alternate cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-play-state: running;
    animation-delay: var(--i);
    --i: 1100ms;
}

#e {
    background: #292929;
    height: 12px;
    width: 7px;
    border-radius: 50%;
    left: 107px;
    top: -15px;
    animation: e 2s ease infinite;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-delay: var(--d);
    --d: 1s;
}

#m {
    background: linear-gradient(to bottom left, #FF9E00 50%, transparent 50%);
    height: 15px;
    width: 15px;
    border-top-right-radius: 2.5px;
    left: 127px;
    transform: rotate(30deg);
    top: -13px;
}

#h1 {
    transform: rotateY(140deg);
    font-size: 4ex;
}

#l,
#lt {
    background: #FF9E00;
    height: 55px;
    width: 10px;
    animation: walk 1s infinite alternate;
    animation-delay: calc(0.1s*var(--i));
}

#l {
    top: 90px;
    left: 60px;
}

#lt {
    top: 85px;
    left: 80px;
}

#l>div,
#lt>div {
    background: #FF9E00;
    height: 10px;
    width: 20px;
    border-radius: 20px;
    transform: rotate(10deg);
}

#l>div,
#lt>div {
    top: 50px;
}

@keyframes walk {
    0% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes s {
    to {
        transform: rotate(-5deg);
    }
}

@keyframes sh {
    to {
        height: 50px;
        top: -40px;
    }
}

#s {
    height: 50px;
    width: 150px;
    background: #29292939;
    border-radius: 100%;
    transform: rotate(190deg);
    top: 125px;
    animation: sa 700ms infinite alternate;
}

@keyframes sa {
    to {
        transform: scale(0.9) rotateX(190deg);
    }
}

@keyframes e {
    to {
        transform: scale(0.9) rotateX(190deg);
    }
}

#d {
    position: absolute;
    background: #414141;
    height: 40px;
    width: 60%;
    top: 10px;
    margin-left: 20%;
    color: #8C8C8C;
    font-family: "Orbitron", fantasy, serif;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: inset #4F4F4F 4px 4px 6px, inset rgba(0, 0, 0, 0.293) -6px -6px 3px, rgba(0, 0, 0, 0.293) 0 0 30px;
}