.page {
  position: relative;
  background-color: #E5E5E5;
}

.section {
  position: relative;
  left: 900px;
  top: 500px;
  width: 2520px;
  height: 7650px;
  background: #F9F9F9;
}

.section .section1 {
  position: absolute;
  width: 1116px;
  height: 57px;
  left: 355px;
  top: 22px;
}

.section .section1 .div0 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 171px;
  height: 77px;
  left: -100px;
  top: 52px;
}

.section .section1 .div0 img {
  position: relative;
  margin: 10px;
}

.section .section1 .div1 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1371px;
  height: 17px;
  left: 700px;
  top: 62px;
}

.section .section1 .div1 p {
  position: relative;
  margin: 40px;
  font-size: 35px;
}

.section .section1 .div2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1371px;
  height: 17px;
  left: 600px;
  top: 12px;
}

.section .section1 .div2 p {
  position: relative;
  margin: 40px;
  font-size: 30px;
}

.section .section1 .div3 {
  position: absolute;
  width: 1371px;
  height: 17px;
  left: 480px;
  top: -80px;
}

.section .section1 .div3 img {
  position: relative;
  margin: 140px;
}

.section .section2 {
  position: relative;
  width: 1116px;
  height: 57px;
  left: 0px;
  top: -270px;
}

.section .section2 img {
  position: relative;
  width: 2520px;
  height: 1100px;
  left: 0px;
  top: 500px;
}

.section .section2 p {
  position: absolute;
  margin-top: -190px;
  margin-left: 300px;
  font-size: 85px;
  color: #F9F9F9;
}

.section .section2 button {
  position: absolute;
  width: 400px;
  height: 100px;
  margin-top: 70px;
  margin-left: 400px;
  font-size: 30px;
  color: #fff;
  background-color: cornflowerblue;
}

.section .section2 .box1 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 405px;
  top: 1457px;
  background: #FFFFFF;
  opacity: 0.4;
  border-radius: 50px;
}

.section .section2 .box2 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 475px;
  top: 1457px;
  background: #FFFFFF;
  opacity: 0.4;
  border-radius: 50px;
}

.section .section2 .box3 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 545px;
  top: 1457px;
  background: white;
  border-radius: 50px;
}

.section .section2 .box4 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 615px;
  top: 1457px;
  background: #FFFFFF;
  opacity: 0.4;
  border-radius: 50px;
}

.section .section3 {
  position: absolute;
  width: 2520px;
  height: 1242px;
  left: 0px;
  top: 780px;
}

.section .section3 img {
  position: absolute;
  width: 2520px;
  height: 1242px;
  left: 0px;
  top: 780px;
}

.section .section3 h2 {
  position: absolute;
  width: 445px;
  height: 23px;
  left: 405px;
  top: 920px;
  font-size: 44px;
  color: #BDBDBD;
}

.section .section3 h3 {
  position: absolute;
  width: 663px;
  height: 47px;
  left: 407px;
  top: 983px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  /* #333333 */
  color: #333333;
}

.section .section3 .box0 {
  position: absolute;
  width: 1900px;
  height: 850px;
  top: 1120px;
  left: 300px;
}

.section .section3 .box0 .box1 {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 0px;
  left: 0px;
}

.section .section3 .box0 .box1 img {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 0px;
  left: 0px;
}

.section .section3 .box0 .box2 {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 0px;
  left: 655px;
}

.section .section3 .box0 .box2 img {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 0px;
  left: 0px;
}

.section .section3 .box0 .box3 {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 0px;
  left: 1300px;
}

.section .section3 .box0 .box3 img {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 0px;
  left: 0px;
}

.section .section3 .box0 .box4 {
  position: absolute;
  width: 600px;
  height: 400px;
  bottom: 0px;
  left: 0px;
}

.section .section3 .box0 .box4 img {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 0px;
  left: 0px;
}

.section .section3 .box0 .box5 {
  position: absolute;
  width: 600px;
  height: 400px;
  bottom: 0px;
  left: 655px;
}

.section .section3 .box0 .box5 img {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 0px;
  left: 0px;
}

.section .section3 .box0 .box6 {
  position: absolute;
  width: 600px;
  height: 400px;
  bottom: 0px;
  left: 1300px;
}

.section .section3 .box0 .box6 img {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 0px;
  left: 0px;
}

.section .section4 .p1 {
  position: absolute;
  width: 300px;
  height: 100px;
  top: 3020px;
  left: 500px;
}

.section .section4 .p1 p {
  font-size: 60px;
  color: #BDBDBD;
}

.section .section4 .p2 {
  position: absolute;
  width: 700px;
  height: 400px;
  top: 3200px;
  left: 500px;
  font-size: 100px;
}

.section .section4 .p2 h4 {
  position: absolute;
  top: -150px;
}

.section .section4 .p2 h5 {
  position: absolute;
  top: -50px;
  font-size: 103px;
  color: #45678a;
}

.section .section4 .p3 {
  position: absolute;
  width: 800px;
  height: 700px;
  top: 3500px;
  left: 500px;
  font-size: 35px;
  line-height: 55px;
}

.section .section4 .box1 {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 3170px;
  left: 1500px;
  background-color: #BDBDBD;
}

.section .section4 .box1 .pp {
  position: absolute;
}

.section .section4 .box1 .pp p {
  position: absolute;
  top: 10px;
  left: 20px;
  margin: 40px;
  font-size: 90px;
}

.section .section4 .box1 p {
  position: absolute;
  top: 150px;
  left: 60px;
  font-size: 25px;
}

.section .section4 .box1 u {
  position: absolute;
  top: 270px;
  left: 60px;
  color: blue;
}

.section .section4 .box2 {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 3170px;
  left: 1950px;
  background-color: #BDBDBD;
}

.section .section4 .box2 .pp {
  position: absolute;
}

.section .section4 .box2 .pp p {
  position: absolute;
  top: 10px;
  left: 20px;
  margin: 40px;
  font-size: 90px;
}

.section .section4 .box2 p {
  position: absolute;
  top: 150px;
  left: 60px;
  font-size: 25px;
}

.section .section4 .box2 u {
  position: absolute;
  top: 270px;
  left: 60px;
  color: blue;
}

.section .section4 .box3 {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 3620px;
  left: 1500px;
  background-color: #BDBDBD;
}

.section .section4 .box3 .pp {
  position: absolute;
}

.section .section4 .box3 .pp p {
  position: absolute;
  top: 10px;
  left: 20px;
  margin: 40px;
  font-size: 90px;
}

.section .section4 .box3 p {
  position: absolute;
  top: 150px;
  left: 60px;
  font-size: 25px;
}

.section .section4 .box3 u {
  position: absolute;
  top: 270px;
  left: 60px;
  color: blue;
}

.section .section4 .box4 {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 3620px;
  left: 1950px;
  background-color: dodgerblue;
}

.section .section4 .box4 .pp {
  position: absolute;
}

.section .section4 .box4 .pp p {
  position: absolute;
  top: 10px;
  left: 20px;
  margin: 40px;
  font-size: 90px;
}

.section .section4 .box4 p {
  position: absolute;
  top: 150px;
  left: 60px;
  font-size: 25px;
}

.section .section4 .box4 u {
  position: absolute;
  top: 270px;
  left: 60px;
  color: blue;
}

.section .section5 {
  position: absolute;
  width: 2520;
  height: 1100px;
  top: 4200px;
  left: 0px;
}

.section .section5 .box {
  position: absolute;
  width: 2520px;
  height: 1100px;
  top: 0px;
  left: 0px;
  background-color: #EBEBEB;
}

.section .section5 .p1 {
  position: absolute;
  width: 500px;
  top: 200px;
  left: 500px;
  color: #BDBDBD;
  font-size: 50px;
}

.section .section5 .p2 {
  position: absolute;
  width: 600px;
  top: 300px;
  left: 500px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  font-size: 68px;
  line-height: 69px;
}

.section .section5 .img1 {
  position: absolute;
  top: 450px;
  left: 500px;
}

.section .section5 .img2 {
  position: absolute;
  top: 450px;
  left: 500px;
}

.section .section5 .img3 {
  position: absolute;
  top: 450px;
  left: 800px;
}

.section .section5 .img4 {
  position: absolute;
  top: 450px;
  left: 800px;
}

.section .section5 .img5 {
  position: absolute;
  top: 450px;
  left: 1100px;
}

.section .section5 .img6 {
  position: absolute;
  top: 450px;
  left: 1100px;
}

.section .section5 .img7 {
  position: absolute;
  top: 450px;
  left: 1400px;
}

.section .section5 .img8 {
  position: absolute;
  top: 450px;
  left: 1400px;
}

.section .section5 .box1 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 800px;
  left: 500px;
  background: #005FA3;
  opacity: 0.4;
  border-radius: 50%;
}

.section .section5 .box2 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 800px;
  left: 610px;
  background: #005FA3;
  opacity: 0.4;
  border-radius: 50%;
}

.section .section5 .box3 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 800px;
  left: 730px;
  background: #005FA3;
  border-radius: 50%;
}

.section .section5 .box4 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 800px;
  left: 850px;
  background: #005FA3;
  opacity: 0.4;
  border-radius: 50%;
}

.section .section5 .img9 {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 1595px;
  top: 736px;
}

.section .section5 .img10 {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 1655px;
  top: 736px;
}

.section .section6 {
  position: absolute;
  width: 2520px;
  height: 1200px;
  top: 5300px;
  left: 0px;
}

.section .section6 .p1 {
  position: absolute;
  width: 500px;
  top: 200px;
  left: 500px;
  color: #BDBDBD;
  font-size: 50px;
}

.section .section6 .p2 {
  position: absolute;
  width: 1633px;
  height: 47px;
  left: 497px;
  top: 269px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  font-size: 68px;
  line-height: 69px;
  /* #333333 */
  color: #333333;
}

.section .section6 .box0 {
  position: absolute;
  width: 1570px;
  height: 600px;
  left: 500px;
  top: 420px;
  background: #EBEBEB;
}

.section .section6 .p3 {
  position: absolute;
  width: 1400px;
  height: 150px;
  left: 600px;
  top: 471px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 35px;
  color: #000000;
}

.section .section6 .p4 {
  position: absolute;
  width: 500px;
  height: 18px;
  left: 915px;
  top: 778px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 25px;
  color: #000000;
}

.section .section6 .p5 {
  position: absolute;
  width: 525px;
  height: 18px;
  left: 915px;
  top: 826px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 19px;
  /* #4F4F4F */
  color: #4F4F4F;
}

.section .section6 .img1 {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 700px;
  top: 721px;
  background: url(ava.jpg), #EBEBEB;
}

.section .section6 .img1 img {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 0px;
  top: 0px;
  border-radius: 50%;
}

.section .section6 .box1 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 1150px;
  left: 500px;
  background: #005FA3;
  opacity: 0.4;
  border-radius: 50%;
}

.section .section6 .box2 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 1150px;
  left: 610px;
  background: #005FA3;
  opacity: 0.4;
  border-radius: 50%;
}

.section .section6 .box3 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 1150px;
  left: 730px;
  background: #005FA3;
  border-radius: 50%;
}

.section .section6 .box4 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 1150px;
  left: 850px;
  background: #005FA3;
  opacity: 0.4;
  border-radius: 50%;
}

.section .section6 .img2 {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 1935px;
  top: 1136px;
}

.section .section6 .img3 {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 1995px;
  top: 1136px;
}

.section .section7 {
  position: absolute;
  width: 2520px;
  height: 1100px;
  top: 6600px;
  left: 0px;
}

.section .section7 .img1 {
  position: relative;
  width: 2520px;
  height: 900px;
  left: 0px;
  top: 0px;
}

.section .section7 .img1 img {
  position: absolute;
  width: 2520px;
  height: 900px;
  left: 0px;
  top: 0px;
}

.section .section7 .img2 {
  position: absolute;
  left: 610px;
  top: 565px;
  bottom: 6.86%;
}

.section .section7 .img2 img {
  position: absolute;
  left: 0px;
  top: 0px;
}

.section .section7 .img3 {
  position: absolute;
  width: 39.42px;
  height: 30px;
  left: 860px;
  top: 565px;
}

.section .section7 .img3 img {
  position: absolute;
  width: 39.42px;
  height: 30px;
  left: 0px;
  top: 0px;
}

.section .section7 .p1 {
  position: absolute;
  width: 445px;
  height: 47px;
  left: 607px;
  top: 228px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  font-size: 58px;
  line-height: 69px;
  /* White */
  color: #FFFFFF;
}

.section .section7 .p2 {
  position: absolute;
  width: 445px;
  height: 43px;
  left: 605px;
  top: 355px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  /* White */
  color: #FFFFFF;
}

.section .section7 .p3 {
  position: absolute;
  width: 184px;
  height: 29px;
  left: 635px;
  top: 568px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  /* identical to box height */
  /* White */
  color: #FFFFFF;
}

.section .section7 .p4 {
  position: absolute;
  width: 155px;
  height: 29px;
  left: 909px;
  top: 565px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  /* identical to box height */
  /* White */
  color: #FFFFFF;
}

.section .section7 .p5 {
  position: absolute;
  width: 125px;
  height: 16px;
  left: 1375px;
  top: 251px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 22px;
  /* White */
  color: #FFFFFF;
}

.section .section7 .p6 {
  position: absolute;
  width: 125px;
  height: 21px;
  left: 1375px;
  top: 302px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
  /* #BDBDBD */
  color: #BDBDBD;
}

.section .section7 .p7 {
  position: absolute;
  width: 125px;
  height: 16px;
  left: 1660px;
  top: 251px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 22px;
  /* White */
  color: #FFFFFF;
}

.section .section7 .p8 {
  position: absolute;
  width: 125px;
  height: 21px;
  left: 1660px;
  top: 302px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  /* #BDBDBD */
  color: #BDBDBD;
}

.section .section7 .p9 {
  position: absolute;
  width: 125px;
  height: 16px;
  left: 1379px;
  top: 453px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 22px;
  /* White */
  color: #FFFFFF;
}

.section .section7 .p10 {
  position: absolute;
  width: 255px;
  height: 21px;
  left: 1380px;
  top: 500px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  /* #BDBDBD */
  color: #BDBDBD;
}

.section .section7 .line1 {
  position: absolute;
  width: 205px;
  height: 0px;
  left: 1375px;
  top: 378px;
  border: 1px solid #FFFFFF;
}

.section .section7 .line2 {
  position: absolute;
  width: 205px;
  height: 0px;
  left: 1660px;
  top: 378px;
  border: 1px solid #FFFFFF;
}

.section .section7 .line3 {
  position: absolute;
  width: 540px;
  height: 0px;
  left: 1380px;
  top: 599px;
  border: 1px solid #FFFFFF;
}

.section .section7 button {
  position: absolute;
  width: 390px;
  height: 99px;
  left: 1745px;
  top: 719px;
  /* Accent */
  background: #005FA3;
}

.section .section7 button p {
  position: absolute;
  width: 434px;
  height: 22px;
  left: -20px;
  top: 10px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 25px;
  text-align: center;
  /* White */
  color: #FFFFFF;
}

.section .section8 {
  position: absolute;
  width: 2520px;
  height: 150px;
  left: 0px;
  bottom: 0px;
}

.section .section8 .p1 {
  position: absolute;
  width: 574px;
  height: 20px;
  left: 500px;
  top: 60px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 19px;
  /* identical to box height */
  color: #000000;
}

.section .section8 .p2 {
  position: absolute;
  width: 401px;
  height: 20px;
  left: 1400px;
  top: 60px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 19px;
  /* identical to box height */
  text-align: right;
  color: #000000;
}
/*# sourceMappingURL=style.css.map */